<!DOCTYPE html>
<html>
<head>
    <title>Eric Cloud</title>
</head>
<body>
    <h1>Welcome <%= user.local.email %></h1>

    <h3>Upload a new file</h3>

    <form action="/upload" method="post" enctype="multipart/form-data">

    Select file to upload:
	    <input type="file" name="fileToUpload">
	    <input type="submit" value="Upload" name="submit">

	</form>

    <h3>Your uploads</h3>
     <!-- show any uploaded files -->
    <% if (user.files.length === 0) { %>
        <p>you have no uploaded files</p>
    <% } %>
    
    <table width="400">
    <% for(var i=0; i<user.files.length; i++) {%>
        <tr>
            <td><%= user.files[i] %></td>
            <td><a href="/download/<%= user.files[i] %>">download</a></td>
            <td><a href="/delete/<%= user.files[i] %>">delete</a></td>
        </tr>
    <% } %>
    </table>
    
    <form action="/logout" method="get" enctype="multipart/form-data">
        <input type="submit" value="Log out" name="logout">
    </form>

    <script>

        //alert('meow');
        var download = function(filename) {
            var req = new XMLHttpRequest();
            var url = 'download/';

            req.open('get', url+filename, true);
            req.send();
        };
        var del = function(filename) {
            alert('delete: '+filename);
        };

    </script>
</body>
</html>